<a href="https://colab.research.google.com/github/Vaishu03/ML/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Load the dataset

In [3]:
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Diabetes.csv')

# Get Information about the dataset

In [4]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

0-->Non-diabetic,1-->Diabetic

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
df.shape

(768, 9)

In [7]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

# Get Unique Values in y

In [11]:
df['diabetes'].value_counts()

0    500
1    268
Name: diabetes, dtype: int64

In [12]:
df.groupby('diabetes').mean()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age
diabetes,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# Define X and y

In [8]:
y = df['diabetes']

In [9]:
X = df[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi','dpf', 'age']]

In [13]:
y.shape

(768,)

In [14]:
X.shape

(768, 8)

# Get X Variables Standardized

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
mm = MinMaxScaler()

In [17]:
X = mm.fit_transform(X)

In [18]:
X

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

# Get train test split

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,stratify=y,random_state=10)

In [21]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((537, 8), (231, 8), (537,), (231,))

# Get Model Train

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train,y_train)

LogisticRegression()

# Get Model Prediction

In [25]:
y_pred = model.predict(X_test)

In [26]:
y_pred.shape

(231,)

In [27]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1])

# Get Probability of each predicted class

In [28]:
model.predict_proba(X_test)

array([[0.51075993, 0.48924007],
       [0.78095245, 0.21904755],
       [0.6283988 , 0.3716012 ],
       [0.8979643 , 0.1020357 ],
       [0.51623907, 0.48376093],
       [0.92618253, 0.07381747],
       [0.7268497 , 0.2731503 ],
       [0.86694792, 0.13305208],
       [0.73059037, 0.26940963],
       [0.34637607, 0.65362393],
       [0.90529229, 0.09470771],
       [0.49041718, 0.50958282],
       [0.87164487, 0.12835513],
       [0.82740743, 0.17259257],
       [0.4400096 , 0.5599904 ],
       [0.83198721, 0.16801279],
       [0.79323843, 0.20676157],
       [0.33268545, 0.66731455],
       [0.69931992, 0.30068008],
       [0.74211244, 0.25788756],
       [0.30460205, 0.69539795],
       [0.60903502, 0.39096498],
       [0.63831992, 0.36168008],
       [0.41153679, 0.58846321],
       [0.89418549, 0.10581451],
       [0.40960142, 0.59039858],
       [0.45396808, 0.54603192],
       [0.66035494, 0.33964506],
       [0.74353089, 0.25646911],
       [0.48140761, 0.51859239],
       [0.7768316 , 0.2231684 ],
       [0.68469283, 0.31530717],
       [0.37779372, 0.62220628],
       [0.81051882, 0.18948118],
       [0.68667603, 0.31332397],
       [0.81732586, 0.18267414],
       [0.89126986, 0.10873014],
       [0.84224802, 0.15775198],
       [0.8521824 , 0.1478176 ],
       [0.77686826, 0.22313174],
       [0.79975742, 0.20024258],
       [0.80903056, 0.19096944],
       [0.21436086, 0.78563914],
       [0.29186028, 0.70813972],
       [0.88020559, 0.11979441],
       [0.25762414, 0.74237586],
       [0.38431626, 0.61568374],
       [0.52759716, 0.47240284],
       [0.23990473, 0.76009527],
       [0.82013759, 0.17986241],
       [0.87648222, 0.12351778],
       [0.26576933, 0.73423067],
       [0.1692434 , 0.8307566 ],
       [0.65072508, 0.34927492],
       [0.71833126, 0.28166874],
       [0.78351212, 0.21648788],
       [0.53932911, 0.46067089],
       [0.4544498 , 0.5455502 ],
       [0.74170303, 0.25829697],
       [0.86107602, 0.13892398],
       [0.68911366, 0.31088634],
       [0.74938556, 0.25061444],
       [0.68643397, 0.31356603],
       [0.95823506, 0.04176494],
       [0.6299484 , 0.3700516 ],
       [0.89542909, 0.10457091],
       [0.59226576, 0.40773424],
       [0.65971187, 0.34028813],
       [0.41331012, 0.58668988],
       [0.58314838, 0.41685162],
       [0.60328782, 0.39671218],
       [0.83637104, 0.16362896],
       [0.80524191, 0.19475809],
       [0.56969571, 0.43030429],
       [0.55904003, 0.44095997],
       [0.23149144, 0.76850856],
       [0.80272514, 0.19727486],
       [0.76537642, 0.23462358],
       [0.54385696, 0.45614304],
       [0.83031569, 0.16968431],
       [0.47966633, 0.52033367],
       [0.06431047, 0.93568953],
       [0.37097209, 0.62902791],
       [0.97891395, 0.02108605],
       [0.61631943, 0.38368057],
       [0.6512571 , 0.3487429 ],
       [0.7937454 , 0.2062546 ],
       [0.72595793, 0.27404207],
       [0.74915674, 0.25084326],
       [0.75227029, 0.24772971],
       [0.6206482 , 0.3793518 ],
       [0.42512635, 0.57487365],
       [0.3146838 , 0.6853162 ],
       [0.43387397, 0.56612603],
       [0.54380997, 0.45619003],
       [0.77605483, 0.22394517],
       [0.64369381, 0.35630619],
       [0.83658241, 0.16341759],
       [0.52442748, 0.47557252],
       [0.63360356, 0.36639644],
       [0.90962949, 0.09037051],
       [0.84227711, 0.15772289],
       [0.80347143, 0.19652857],
       [0.78163014, 0.21836986],
       [0.30601404, 0.69398596],
       [0.25460583, 0.74539417],
       [0.70927952, 0.29072048],
       [0.77376008, 0.22623992],
       [0.87229206, 0.12770794],
       [0.8127241 , 0.1872759 ],
       [0.93247319, 0.06752681],
       [0.89494765, 0.10505235],
       [0.37385906, 0.62614094],
       [0.1623392 , 0.8376608 ],
       [0.62178112, 0.37821888],
       [0.43393451, 0.56606549],
       [0.82400297, 0.17599703],
       [0.57319308, 0.42680692],
       [0.8848121 , 0.1151879 ],
       [0.90397256, 0.09602744],
       [0.17650383, 0.82349617],
       [0.67415162, 0.32584838],
       [0.87955767, 0.12044233],
       [0.78348028, 0.21651972],
       [0.06975898, 0.93024102],
       [0.35204384, 0.64795616],
       [0.95051634, 0.04948366],
       [0.15940828, 0.84059172],
       [0.68374907, 0.31625093],
       [0.83690527, 0.16309473],
       [0.41360342, 0.58639658],
       [0.56033274, 0.43966726],
       [0.78551976, 0.21448024],
       [0.47387519, 0.52612481],
       [0.98383854, 0.01616146],
       [0.57127719, 0.42872281],
       [0.78211611, 0.21788389],
       [0.41648964, 0.58351036],
       [0.81369323, 0.18630677],
       [0.36259069, 0.63740931],
       [0.80303003, 0.19696997],
       [0.09758337, 0.90241663],
       [0.89269951, 0.10730049],
       [0.63195617, 0.36804383],
       [0.51861004, 0.48138996],
       [0.34979666, 0.65020334],
       [0.90131852, 0.09868148],
       [0.71208268, 0.28791732],
       [0.95501426, 0.04498574],
       [0.64697525, 0.35302475],
       [0.82154869, 0.17845131],
       [0.82593366, 0.17406634],
       [0.80593486, 0.19406514],
       [0.74150374, 0.25849626],
       [0.81342464, 0.18657536],
       [0.77683359, 0.22316641],
       [0.7554221 , 0.2445779 ],
       [0.36426298, 0.63573702],
       [0.59131986, 0.40868014],
       [0.3238897 , 0.6761103 ],
       [0.5634414 , 0.4365586 ],
       [0.80955304, 0.19044696],
       [0.68772035, 0.31227965],
       [0.80475665, 0.19524335],
       [0.54241389, 0.45758611],
       [0.42508724, 0.57491276],
       [0.91423588, 0.08576412],
       [0.58081415, 0.41918585],
       [0.79994166, 0.20005834],
       [0.68232797, 0.31767203],
       [0.38934699, 0.61065301],
       [0.41159968, 0.58840032],
       [0.79037246, 0.20962754],
       [0.81830119, 0.18169881],
       [0.86313257, 0.13686743],
       [0.57770204, 0.42229796],
       [0.48611635, 0.51388365],
       [0.68748756, 0.31251244],
       [0.89397121, 0.10602879],
       [0.77963835, 0.22036165],
       [0.83980793, 0.16019207],
       [0.60258366, 0.39741634],
       [0.28368165, 0.71631835],
       [0.64681856, 0.35318144],
       [0.76251308, 0.23748692],
       [0.76493667, 0.23506333],
       [0.71788658, 0.28211342],
       [0.7320941 , 0.2679059 ],
       [0.60925245, 0.39074755],
       [0.7143575 , 0.2856425 ],
       [0.83875866, 0.16124134],
       [0.79816636, 0.20183364],
       [0.73455367, 0.26544633],
       [0.63883255, 0.36116745],
       [0.77303754, 0.22696246],
       [0.48963312, 0.51036688],
       [0.24650607, 0.75349393],
       [0.62345498, 0.37654502],
       [0.73828988, 0.26171012],
       [0.79715448, 0.20284552],
       [0.481499  , 0.518501  ],
       [0.53547462, 0.46452538],
       [0.39093228, 0.60906772],
       [0.88433873, 0.11566127],
       [0.31778021, 0.68221979],
       [0.61350826, 0.38649174],
       [0.71707504, 0.28292496],
       [0.60349599, 0.39650401],
       [0.9086795 , 0.0913205 ],
       [0.66534361, 0.33465639],
       [0.84782537, 0.15217463],
       [0.76605646, 0.23394354],
       [0.84155233, 0.15844767],
       [0.75934082, 0.24065918],
       [0.59402661, 0.40597339],
       [0.66060139, 0.33939861],
       [0.21100622, 0.78899378],
       [0.90129402, 0.09870598],
       [0.57648823, 0.42351177],
       [0.78172295, 0.21827705],
       [0.38503859, 0.61496141],
       [0.86550778, 0.13449222],
       [0.52408962, 0.47591038],
       [0.12203204, 0.87796796],
       [0.44193816, 0.55806184],
       [0.90334741, 0.09665259],
       [0.78179178, 0.21820822],
       [0.92776824, 0.07223176],
       [0.77888847, 0.22111153],
       [0.76226587, 0.23773413],
       [0.44253285, 0.55746715]])

# Get Model Evaluation

In [29]:
from sklearn.metrics import confusion_matrix,classification_report

In [30]:
print(confusion_matrix(y_test,y_pred))

[[139  11]
 [ 34  47]]

In [31]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.93      0.86       150
           1       0.81      0.58      0.68        81

    accuracy                           0.81       231
   macro avg       0.81      0.75      0.77       231
weighted avg       0.81      0.81      0.80       231

# Get Future Predictions

In [32]:
X_new = df.sample(1)

In [33]:
X_new

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
310,6,80,66,30,0,26.2,0.313,41,0

In [34]:
X_new.shape

(1, 9)

In [35]:
X_new = X_new.drop('diabetes',axis=1)

In [36]:
X_new

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
310            6       80         66       30        0  26.2  0.313   41

In [37]:
X_new.shape

(1, 8)

In [38]:
X_new = mm.fit_transform(X_new)

In [39]:
y_pred_new = model.predict(X_new)

In [40]:
y_pred_new

array([0])

In [41]:
model.predict_proba(X_new)

array([[0.99457065, 0.00542935]])